[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"PyQt5" = "*"
opencv-python = "*"
numpy = "*"
qimage2ndarray = "*"
scipy = "*"
spectral = "*"
piexif = "*"
simplekml = "*"
scikit-image = "*"
pyqtdarktheme = "*"
pillow = "*"
pandas = "*"
utm = "*"
PyExifTool = "*"

[dev-packages]
pyqt-distutils = "*"
PyInstaller = "*"
pytest-qt = "*"

# modern MacOS can't use ancient qt5-application in PyPI
qt5-tools = {version = "*", markers = "sys_platform != 'darwin'"}
# TODO: build this from source?

[requires]
python_version = "3.11"
